.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

body {
  background-color: red;
  background-image: url(3d66869cb4826df8a18e02a6893472d4.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

